<?xml version="1.0" encoding="UTF-8"?>
<fmiModelDescription
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  fmiVersion="2.0"
  modelName="{{identifier}}"
  guid="{{guid}}"
  version="{{version}}"
  generationTool="qfmu"
  generationDateAndTime="{{datetime}}"
  numberOfEventIndicators="0">

  <ModelExchange
    modelIdentifier="{{identifier}}"
    canGetAndSetFMUstate="false"
    canSerializeFMUstate="false"
    providesDirectionalDerivative="false">
    <SourceFiles>
      <File
        name="lti.c"/>
    </SourceFiles>
  </ModelExchange>
  
  <CoSimulation
    modelIdentifier="{{identifier}}"
    canHandleVariableCommunicationStepSize="false"
    canInterpolateInputs="false"
    maxOutputDerivativeOrder="1"
    canGetAndSetFMUstate="false"
    canSerializeFMUstate="false"
    providesDirectionalDerivative="false">
    <SourceFiles>
      <File
        name="lti.c"/>
    </SourceFiles>
  </CoSimulation>

  <DefaultExperiment startTime="0.0"
    stopTime="1.0"
    tolerance="0.0001"/>
  
  <LogCategories>
    <Category name="logAll"/>
    <Category name="logError"/>
    <Category name="logFmiCall"/>
    <Category name="logEvent"/>
  </LogCategories>

  <ModelVariables>
    {%- for i in range(nx) %}
    <ScalarVariable name="x{{i}}" valueReference="{{vrs.x[i]}}" description="Continuous state {{i}}">
      <Real/>
    </ScalarVariable>
    {%- endfor %}
    {%- for i in range(nx) %}
    <ScalarVariable name="der_x{{i}}" valueReference="{{vrs.der[i]}}" description="State derivative {{i}}">
      <Real derivative="{{ vrs.x[i] | int + 1 }}"/>
    </ScalarVariable>
    {%- endfor %}
    {%- for i in range(nu) %}
    <ScalarVariable name="u{{i}}" valueReference="{{vrs.u[i]}}" description="Model input {{i}}" causality="input">
      <Real/>
    </ScalarVariable>
    {%- endfor %}
    {%- for i in range(ny) %}
    <ScalarVariable name="y{{i}}" valueReference="{{vrs.y[i]}}" description="Model output {{i}}" causality="output">
      <Real/>
    </ScalarVariable>
    {%- endfor %}
    {%- for i in range(nx) %}
    <ScalarVariable name="x{{i}}_start" valueReference="{{vrs.x0[i]}}" description="Start value for x{{i}}" causality="parameter" variability="fixed">
      <Real start="{{x0[i]}}"/>
    </ScalarVariable>
    {%- endfor %}
    {%- for i in range(nu) %}
    <ScalarVariable name="u{{i}}_start" valueReference="{{vrs.u0[i]}}" description="Start value for u{{i}}" causality="parameter" variability="fixed">
      <Real start="{{u0[i]}}"/>
    </ScalarVariable>
    {%- endfor %}
  </ModelVariables>
  
  <ModelStructure>
    <Outputs>
    {%- for i in range(ny) %}
      <Unknown index="{{vr0.y + i + 1}}" />
    {%- endfor %}
    </Outputs>
    <Derivatives>
    {%- for i in range(nx) %}
      <Unknown index="{{vr0.der + i + 1}}" />
    {%- endfor %}
    </Derivatives>
  </ModelStructure>
</fmiModelDescription>